<div class="container" style="max-width: 600px;">
  
  <div class="d-flex align-items-center mb-4">
    <button routerLink="/dashboard/usuarios" class="btn btn-outline-secondary me-3">⬅️ Volver</button>
    <h2>{{ isEditMode ? '✏️ Editar Usuario' : '➕ Registrar Nuevo Usuario' }}</h2>
  </div>

  @if (errorMessage) {
    <div class="alert alert-danger">{{ errorMessage }}</div>
  }

  <div class="card shadow-sm">
    <div class="card-body">
      <form (ngSubmit)="enviarFormulario()">
        
        <div class="mb-3">
          <label class="form-label fw-bold">Nombre Completo</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre" placeholder="Ej: Juan Pérez" required />
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Correo Electrónico</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="usuario.email" placeholder="juan.perez@empresa.com" required />
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Rol de Acceso</label>
          <select class="form-select" name="rol" [(ngModel)]="usuario.rol" required>
            <option value="admin">Administrador (Full)</option>
            <option value="user">Usuario Estándar</option>
            <option value="tester">Aseguramiento de Calidad (QA)</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold">Contraseña</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="usuario.password" 
                 [placeholder]="isEditMode ? 'Dejar en blanco si no deseas cambiarla' : 'Mínimo 6 caracteres'"
                 [required]="!isEditMode" />
        </div>

        <div class="d-flex justify-content-end gap-2">
          <a routerLink="/dashboard/usuarios" class="btn btn-secondary">Cancelar</a>
          <button type="submit" class="btn btn-success" [disabled]="!usuario.nombre || !usuario.email">
            {{ isEditMode ? 'Guardar Cambios' : 'Registrar Usuario' }}
          </button>
        </div>

      </form>
    </div>
  </div>

</div>